@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@theme {
	--font-primary: "Poppins", sans-serif;
	--font-secondary: "Inter", sans-serif;
	--color-primary: #db4444;
	--color-secondary: #fafafa;
	--color-tertiary: #F5F5F5;
}
.custom-slider .custom_slider {
	display: flex !important;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -100%);
	column-gap: 12px;
}

.custom-slider .custom_slider .slick-active a div {
	background: #db4444;
	width: 10px;
	height: 10px;
	position: relative;
}
.custom-slider .custom_slider .slick-active a div::before {
	content: "";
	position: absolute;
	width: 14px;
	height: 14px;
	background: white;
	border-radius: 50%;
	top: -2px;
	left: -2px;
	z-index: -1;
}
